<div id="regular-label">
<goa-form-item label="Basic" labelsize="regular">
  <goa-input name="item" width="20ch" (_change)="onChange($event)"></goa-input>
</goa-form-item>
</div>
<hr />
<div id="regular-label-help">
<goa-form-item label="Basic" labelsize="regular" helptext="Help Text">
  <goa-input name="item" width="20ch" (_change)="onChange($event)"></goa-input>
</goa-form-item>
</div>
<hr />

<div id="regular-label-help-error">
<goa-form-item label="Basic" labelsize="regular" helptext="Help Text" error="Error Text">
  <goa-input name="item" width="20ch" (_change)="onChange($event)"></goa-input>
</goa-form-item>
</div>

<hr />






<div id="large-label">
<goa-form-item label="Basic" labelsize="large">
  <goa-input name="item" width="20ch" (_change)="onChange($event)"></goa-input>
</goa-form-item>
</div>
<hr />

<div id="large-label-help">
<goa-form-item label="Basic" labelsize="large" helptext="Help Text">
  <goa-input name="item" width="20ch" (_change)="onChange($event)"></goa-input>
</goa-form-item>
</div>
<hr />

<div id="large-label-help-error">
<goa-form-item label="Basic" labelsize="large" helptext="Help Text" error="Error Text">
  <goa-input name="item" width="20ch" (_change)="onChange($event)"></goa-input>
</goa-form-item>
</div>
