<!-- HTML content for bug1494Page.component.html -->




<goa-tabs>
  <goa-tab heading="Tab Item 1">
    <goa-form-item label="dropdown-one">
      <goa-dropdown name="item-one" value="" id="dropdown-one" [filterable]=true testid="dropdown-one-input">
        <goa-dropdown-item value="red" label="Red"></goa-dropdown-item>
        <goa-dropdown-item value="green" label="Green"></goa-dropdown-item>
        <goa-dropdown-item value="blue" label="Blue"></goa-dropdown-item>
        <goa-dropdown-item value="black" label="Black"></goa-dropdown-item>
        <goa-dropdown-item value="blonde" label="Blonde"></goa-dropdown-item>
      </goa-dropdown>
    </goa-form-item>
    <br />
    <br />
    <br />
    <goa-form-item label="dropdown-two">
      <goa-dropdown name="item-two" value="" id="dropdown-two">
        <goa-dropdown-item value="red" label="Red"></goa-dropdown-item>
        <goa-dropdown-item value="green" label="Green"></goa-dropdown-item>
        <goa-dropdown-item value="blue" label="Blue"></goa-dropdown-item>
      </goa-dropdown>
    </goa-form-item>
  </goa-tab>
  <goa-tab heading="Tab Item 2">
    Tab Item 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </goa-tab>
  <goa-tab heading="Tab Item 3">
    Tab Item 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </goa-tab>
</goa-tabs>
