<goa-container accent="thick" padding="relaxed" width="full">
  <h2>
    Container One
  </h2>
  <goa-dropdown name="item" value="" id="dropdown">
      <goa-dropdown-item value="red" label="Red"></goa-dropdown-item>
      <goa-dropdown-item value="green" label="Green"></goa-dropdown-item>
      <goa-dropdown-item value="blue" label="Blue"></goa-dropdown-item>
    </goa-dropdown>
</goa-container>
<goa-container accent="thick" padding="relaxed" width="full" class="container2">
  <h2 class="heading2">
    Container Two
  </h2>
  <p class="text2">
    Add things inside me
  </p>
</goa-container>
