<div class="full-width">
<goa-form-item label="Basic dropdown">
  <goa-dropdown name="item" value="" (_change)="onChange($event)" width="100%" id="dropdown-full">
    <goa-dropdown-item value="red" label="Red"></goa-dropdown-item>
    <goa-dropdown-item value="green" label="Green"></goa-dropdown-item>
    <goa-dropdown-item value="blue" label="Blue"></goa-dropdown-item>
  </goa-dropdown>
</goa-form-item>
</div>

<div class="full-width">

<goa-form-item label="Basic dropdown">
  <goa-dropdown name="item" value="" (_change)="onChange($event)" width="50%" id="dropdown-half">
    <goa-dropdown-item value="red" label="Red"></goa-dropdown-item>
    <goa-dropdown-item value="green" label="Green"></goa-dropdown-item>
    <goa-dropdown-item value="blue" label="Blue"></goa-dropdown-item>
  </goa-dropdown>
</goa-form-item>
</div>

<div class="full-width">
<goa-form-item label="Basic dropdown">
  <goa-dropdown name="item" value="" (_change)="onChange($event)" width="200px" id="dropdown-fix">
    <goa-dropdown-item value="red" label="Red"></goa-dropdown-item>
    <goa-dropdown-item value="green" label="Green"></goa-dropdown-item>
    <goa-dropdown-item value="blue" label="Blue"></goa-dropdown-item>
  </goa-dropdown>
</goa-form-item>
</div>
