<goa-container>
  <p> When Enter Key is pressed, option is selected, and dropdown is closed</p>
</goa-container>


<goa-container>

  <goa-form-item label="Dropdown Native">
    <goa-dropdown
      goaValue
      native
      [formControl]="formControlNative"
      [value]="formControlNative.value"
      id="dropdown-native"
    >
      <goa-dropdown-item
        *ngFor="let opt of options"
        [value]="opt.value"
        [label]="opt.label"
      ></goa-dropdown-item>
    </goa-dropdown>
  </goa-form-item>

  <goa-form-item label="ropdown Non Native">
    <goa-dropdown
      goaValue
      [formControl]="formControlNonNative"
      [value]="formControlNonNative.value"
      id="dropdown-non-native"
      name='dropdown-non-native'
    >
      <goa-dropdown-item
        *ngFor="let opt of options"
        [value]="opt.value"
        [label]="opt.label"
      ></goa-dropdown-item>
    </goa-dropdown>
  </goa-form-item>

  <goa-form-item label="Select">


  <select [formControl]="formControl" [value]="formControl.value" id="select">
    <option *ngFor="let opt of options" [value]="opt.value">
      {{ opt.label }}
    </option>
  </select>
</goa-form-item>

</goa-container>
