<goa-form-item label="Dropdown" requirement="optional">
     <goa-dropdown
       name="dropdown-30ch"
       [width]="'30ch'"
       placeholder="Select a value"
     >
       <goa-dropdown-item key="_none_" name="none" value="none" label="None"></goa-dropdown-item>
       <goa-dropdown-item key="_some_" name="some" value="some" label="Some Long Value Some Long Value"></goa-dropdown-item>
     </goa-dropdown>
   </goa-form-item>

   <goa-form-item label="Dropdown" requirement="optional">
     <goa-dropdown
       name="dropdown-30ch-no-item"
       [width]="'30ch'"
       placeholder="Select a value"

     >
     </goa-dropdown>
   </goa-form-item>

   <goa-form-item label="Dropdown" requirement="optional">
     <goa-dropdown
      name="dropdown-no-width-no-item"
       placeholder="Select a value"

     >
     </goa-dropdown>
   </goa-form-item>

   <goa-form-item label="Dropdown" requirement="optional">
     <goa-dropdown
      name="dropdown-no-width-with-item"
       placeholder="Select a value"

     >
     <goa-dropdown-item key="_none_" name="none" value="none" label="None"></goa-dropdown-item>
     <goa-dropdown-item key="_some_" name="some" value="some" label="Some Long Value Some Long Value"></goa-dropdown-item>
     </goa-dropdown>
   </goa-form-item>

   <goa-form-item label="Dropdown" requirement="optional">
     <goa-dropdown
     name="dropdown-10ch"
       [width]="'10ch'"
       placeholder="Select a value"

     >
     <goa-dropdown-item key="_none_" name="none" value="none" label="None"></goa-dropdown-item>
     <goa-dropdown-item key="_some_" name="some" value="some" label="Some Long Value Some Long Value"></goa-dropdown-item>

     </goa-dropdown>
   </goa-form-item>

   <goa-form-item label="Dropdown" requirement="optional">
     <goa-dropdown
     name="dropdown-50"
       [width]="'50%'"
       placeholder="Select a value"

     >
       <goa-dropdown-item key="_none_" name="none" value="none" label="None"></goa-dropdown-item>
       <goa-dropdown-item key="_some_" name="some" value="some" label="Some Long Value Some Long Value"></goa-dropdown-item>
     </goa-dropdown>
   </goa-form-item>

   <goa-form-item label="Dropdown" requirement="optional">
     <goa-dropdown
     name="dropdown-100"
       [width]="'100%'"
       placeholder="Select a value"

     >
       <goa-dropdown-item key="_none_" name="none" value="none" label="None"></goa-dropdown-item>
       <goa-dropdown-item key="_some_" name="some" value="some" label="Some Long Value Some Long Value"></goa-dropdown-item>
     </goa-dropdown>
   </goa-form-item>
