

<div style="position: relative;">
  <div style="position: absolute; top: 50px; left: 100px; width: 1200px; height: 1100px; background-color: lightblue; border: 1px solid blue;">
      <goa-date-picker [formControl]="dateCtrl" [value]="dateCtrl.value" />
      <br />

      <goa-dropdown name="item"  width="50%">
        <goa-dropdown-item value="red" label="Red"></goa-dropdown-item>
        <goa-dropdown-item value="green" label="Green"></goa-dropdown-item>
        <goa-dropdown-item value="blue" label="Blue"></goa-dropdown-item>
      </goa-dropdown>
  </div>
</div>
