name: Test Runner

on:
  pull_request:
    branches:
      - master
      - alpha
  push:
    branches:
      - master
      - alpha
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    container:
      image: cypress/browsers:latest
      options: --user 1001

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cypress Run
        uses: cypress-io/github-action@v6
        with:
          build: npm run build
          start: npm run test
          browser: chrome
